.StorylineBody h3 {
	font-style: italic;
}

.GroupBtnBody {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: #F0F0F0;
	border-radius: 10px;
}

.Column {
	display: inline-block;
	width: 50%;
	height: 100%;
}

.Left {
	left: 0;
}

.Right {
	right: 0;
}

.StoriesBody {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF;
	border: solid 2px #F0F0F0;
	border-radius: 10px;
}

/*for-mobile*/
@media only screen and (max-width: 600px) {
	.GroupBtnBody {
		width: 100%;
	}
	.Column {
		display: block;
		width: 100%;
		height: 100%;
	}
	.StoriesBody {
		width: 100%;
	}
}

/* for-desktop */
@media only screen and (min-width: 600px) {
	.TimeChapter {
		margin-bottom: 1.2em;
	}
}
