.SocialMediaBtn {
	width: 10%;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
}

.SocialMediaBtn img {
	display: inline-block;
	width: 3em;
	opacity: 0.70;
}

.SocialMediaBtn img:hover {
	opacity: 0.95;
}