.GroupBtnLine {
	border-left: solid 2px grey;
}

.GroupBtnLine:hover,
.GroupBtnClicked {
	border-width: thick; 
}

.GroupBtn {
	display: block;
	color: #6c6c6d;
	width: 7em;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	border: solid 2px;
	margin-left: auto;
	margin-right: auto;
	font-size: 1.15em
}

.GroupBtn:hover {
	font-weight: bold;
	cursor: pointer;
}

.GroupBtn:focus {
	outline: 0;
}

/*for-mobile*/
@media only screen and (max-width: 600px) {
	.GroupBtn {
		font-size: 0.8em;
	}
}