.MainSection {
	background-color: #84b9cc;
	position: relative;
}

.MainSection img {
	width: 100%;
	height: auto;
	opacity: 0.75;
}

.MainSection p {
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 2.3em;
}

@media (max-width: 699px){
	.MainSection p {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 1.5em;
}
}

@media (max-width: 499px){
	.MainSection {
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	
	.MainSection img {
		width: 100%;
		height: auto;
	}
	
	.MainSection p {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 1.0em;
}
}

@media (max-width: 299px){
	.MainSection p {
	display: none;
}
}